<div class="container">

    <div id="container" align="center">
        <p class="flow-text">Sign in or Sign up below</p>
    </div>

    <div class="row" align="center">
        <p>
            <input ng-model="vm.checkBoxValue" ng-change="vm.checkboxClicked()" type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label class="active" for="filled-in-box">Register Me</label>
        </p>
    </div>

    <div ng-show="vm.isSignIn" class="row">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="???" id="email" type="text" class="validate" ng-model="vm.userInfo.email">
                        <label class="active" for="email">User Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate" ng-model="vm.userInfo.password">
                        <label class="active" for="password">Password</label>
                    </div>
                </div>
            </form>
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="vm.signIn()">
                Sign In
                <i class="material-icons right">send</i>
            </button>
            <button style="float: right;" class="btn waves-effect purple waves-light" type="submit" name="action" ng-click="vm.forgotPasswodPressed()">
                Forgot password
                <i class="material-icons right">send</i>
            </button>
        </div>

        <div ng-show="vm.resetPasswordOption">
            <div class="row">
                <div class="col s6"></div>
                <div class="input-field col s4">
                    <input placeholder="Your Email" id="forgotEmail" type="text" class="validate" ng-model="vm.forgotEmail">
                    <label class="active" for="email">Your Email</label>
                </div>
                <div class="col s2" style="margin-top: 20px">
                    <button class="btn waves-effect purple waves-light" type="submit" name="action" ng-click="vm.resetPassword()">
                        Reset
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!vm.isSignIn" class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="???" id="register_email" type="text" class="validate" ng-model="vm.userInfo.email">
                    <label class="active" for="register_email">Desired User Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="register_password" type="password" class="validate" ng-model="vm.userInfo.password">
                    <label class="active" for="register_password">Desired Password</label>
                </div>
            </div>
        </form>
        <button class="btn waves-effect purple waves-light" type="submit" name="action" ng-click="vm.register()">
            Sign Up
            <i class="material-icons right">send</i>
        </button>
    </div>



</div>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>
