<div class="container">
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV-w_f4dqxvz46JxzYl80IwCBuaP8cQso&callback=initMap" async defer></script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV-w_f4dqxvz46JxzYl80IwCBuaP8cQso&callback=initMap"></script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV-w_f4dqxvz46JxzYl80IwCBuaP8cQso"></script>-->
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 400px;
        }
    </style>

    <!--<div id="map"></div>-->

    <!--<script>-->
        <!--var map;-->
        <!--function initMap() {-->
            <!--console.log('inside initMap');-->
            <!--map = new google.maps.Map(document.getElementById('map'), {-->
                <!--center: {lat: -34.397, lng: 150.644},-->
                <!--zoom: 8-->
            <!--});-->
            <!--var el = document.querySelector("#map")-->
            <!--$el = angular.element(el);-->
            <!--$scope = $el.scope();-->
            <!--console.log($scope.test);-->
        <!--}-->

    <div class="row" align="center">
        <h5>
            Pick desired date range below
        </h5>
    </div>

    <div class="row">
        <div class="input-field col s5">
            <input id="beginDatePicker" type="text" class="datepicker" ng-model="vm.startDate">
            <label class="active">Start Date</label>
        </div>
        <div class="input-field col s5">
            <input id= "endDatePicker" type="text" class="datepicker" ng-model="vm.endDate">
            <label class="active">End Date</label>
        </div>
        <div class="input-field col s2">
            <button ng-click='vm.queryResult()' class="btn waves-effect waves-light"
                    type="submit" name="action" ng-disabled="vm.startDate == null || vm.endDate == null || vm.requestInProgress">
                Query
            </button>
        </div>
    </div>

    <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV-w_f4dqxvz46JxzYl80IwCBuaP8cQso"
         map-lazy-load-params="" id="map">
        <ng-map center="40.7128,-74.0060" zoom="5">
            <marker ng-repeat="report in vm.markers" id="{{report.uniqueKey}}" position="{{report.latitude}},{{report.longitude}}"
                    on-click="vm.viewDetailedInfo({{report.uniqueKey}})"></marker>
        </ng-map>
    </div>

    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    </script>

</div>